.nav-bg {
   background-color: #233c4a;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image__logo{
    width: 50%;
}

.list__item{
    width: 50%;
    display: flex;
    font-size: 25px;
    margin-right: 10px;
    justify-content: center;
}

.img_header{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
}

.botoes_sair_perfil{
    display: flex;
    align-items: center;
}

.div_img_header{
    width: 4em;
    height: 3.6em;
    margin-right: 2em;
    border-radius: 100%;
}