.content_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 50px;
}

.card{
    cursor: pointer;
    width: 250px;
    height: 200px;
    display: flex;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.card .iconDash{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.card h3 { 
    font-size: 20px;
    margin-top: 20px;
}

.card:hover {
    background-color: #767676;
    border: 2px solid white;
    transition: 0.3s;
}

