.aside_upload_subject {
    margin: 0;
    padding: 30px;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(63, 63, 63);
}

.btn_upload_subject {
    width: 100%;
    border: 0;
    height: 40px;
    font-size: 20px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(179, 179, 179);
    transition: 0.3s;
    background-color: rgb(28, 28, 28);
}

.btn_upload_subject:hover {
    transition: 0.3s;
    background-color: rgb(14, 12, 12);
}

.content_uploads_subject{
    margin: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_subject {
    border-left: 9px solid #233c4a;
    height: 55px;
    width: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.box_subject:hover {
    
}

.box_subject h3 {
    width: 100%;
    color: rgb(202, 202, 202);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.box_subject span {
    width: 100%;
    font-size: 12px;
    color: rgb(194, 194, 194);
    margin-bottom: 10px;
}

.content_uploads_subject .nenhum_resultado_encontradp {
   text-align: center;
   font-size: 20px; 
}


.text_area{
    width: 45%;
    height: auto;
    padding: .5%;
    align-self: center;
}