.textArea{
    border-radius: 10px;
    text-align: center;
    padding: 115px;
    border: 2px solid gray;
}
.input__text__area{
    color: #fafafa;
    border-radius: 10px;
    text-align: center;
    border: 2px solid gray;
    margin: 20px 10px;
    width: 47%;
}