.content__login{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh !important;
}

.box__login{
    width: 400px;
    height: 430px;
    display: flex;
    border-radius: 4px;
    align-items: center; 
    flex-direction: column;
    justify-content: center; 
}

.logo{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.data__form{
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.input__login{
    border: 0;
    width: 85%;
    height: 25px;
    margin: 5px 0;
    outline: none;
    color: black;
    padding: 20px;
    border-radius: 10px;
    background-color: #e0e0e0;
}

.btn__login{
    width: 85%;
    height: 45px;
    border: none;
    font-size: 1.1em;
    margin-top: 30px;
    color: #fafafa;
    outline-style: none;
    border-radius: 15px;
    background-image: linear-gradient(to right,#1608dd,#17b9ca);
}
.btn__login:hover{
    cursor: pointer;
}

p,a{
    margin-top: 10px;
    color: rgb(197, 197, 197);
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color: #1450c0;
}

.input-erro{
    border-color: #ec3d3d !important;
    box-shadow: #ec3d3d 0em 0.1em 0.3em 0.1em !important;
}
