.content_wrapper_dashboard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    height: 44.5em;
}

.component_card{
    cursor: pointer;
    width: 250px;
    height: 200px;
    display: flex;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.component_card .iconDash{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.component_card h3 { 
    font-size: 20px;
    margin-top: 20px;
}

.component_card:hover {
    background-color: #3e3e3e;
    border: 2px solid #3e3e3e;
    transition: 0.3s;
}

.btn_delete_card{
    position: absolute;
    top: 0em;
    padding: 1em;
    right: 0.9em;
    background: #3333338c;
}

.col_padrao{
    margin-top: 1em;
}

.row_card{
    padding: 2em;
}

.component_card:hover {
    outline: none !important;
}

.btn_delete_card:hover {
    cursor: pointer;
    background: #3e3e3e;
}
