.content_wrapper_dashboard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    height: 44.5em;
}

.component_card{
    cursor: pointer;
    width: 20em;
    height: 17em;
    display: flex;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.component_card .iconDash{
    /* width: 100%; */
    /* height: 1.4em; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
}

.component_card h3 { 
    font-size: 20px;
    margin-top: 0.5em;
    height: 100%;
}

.component_card:hover {
    background-color: #3e3e3e;
    border: 2px solid #3e3e3e;
    transition: 0.3s;
}

.btn_delete_card{
    position: absolute;
    top: 0em;
    padding: 1em;
    right: 0.9em;
    background: #3333338c;
}

.col_padrao{
    margin-top: 1em;
}

.component_card:hover {
    outline: none !important;
}

.btn_delete_card:hover {
    cursor: pointer;
    background: #3e3e3e;
}

.img_card{
    width: 100%;
    height: 100%;
    border-radius: 6%;
}

.div_img_card{
    width: 100%;
    height: 100%;
}
.descricao_card{
    text-align: center;
    line-break: anywhere;
    width: 100%;
    height: 100%;
}

.div_box_img{
    width: 7em;
    height: 6em;
}

.box_descricao_card{
    height: 4em;
}